body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    /* Ajuste para dispositivos móviles */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/fondoP.jpg);
    background-repeat: no-repeat;
    background-size: 300vh;



}

@media screen and (max-width: 600px) {

    body {
        background-image: url(../img/fondoP.jpg);
        background-repeat: no-repeat;
        background-size: 180vh;
    }

}

/*header*/

header {
    background-color: #ffffff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

}

.container-header {
    display: flex;
    align-items: center;


}

.container-header img {
    margin-right: 10px;
    width: 25px;
    height: auto;


}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    background-color: #dfdfdf;
    border: 1px solid #ccc;
    width: 100%;
    left: 0;
    align-items: center;
    font-size: 12px;


}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    pointer-events: none;

}

.dropdown-menu li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.dropdown-toggle:hover+.dropdown-menu {
    display: block;
}


h1 {
    font-size: 10px;
    order: 1;

}

h2 {
    font-size: 35px;
    color: #1a78c5;
}

a {
    color: #1a78c5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}






/*account*/
.mar {
    width: 100%;
    min-height: 400px;
    /* Altura mínima de la imagen de fondo */
    background-image: url('img/mar.jpg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}


@media screen and (max-width: 600px) {
    .mar {
        /* Ancho completo menos los márgenes */
        max-width: 100%;
        /* Eliminar el ancho máximo */
        min-height: 100px;
        margin-top: 80px;
    }
}

.mar-2 {
    text-align: center;
    color: white;

    /* Color del texto */
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    /* Tipo de letra */
    margin: 0;
    /* Elimina el margen predeterminado */
    padding: 5px;
    /* Añade un espacio alrededor del texto */
    font-weight: bold;
    font-size: 30px;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    /* Elimina el margen predeterminado */
    padding: 5px;
    /* Añade un espacio alrededor del texto */
}



.selection {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra verticalmente los elementos */
    gap: 50px;
    background-color: transparent;
    width: 1500px;



}

.selection .select-1 {
    width: calc(100% - 40px);
    /* Ancho ajustable */
    max-width: 670px;
    /* Ancho máximo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /* Sombra */
    text-align: center;
    /* Centra el contenido horizontalmente */
    text-decoration: none;
    /* Elimina la decoración de enlace */
    color: #333;
    /* Color del texto */
}

.selection .select-2 {
    width: calc(100% - 40px);
    /* Ancho ajustable */
    max-width: 670px;
    /* Ancho máximo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /* Sombra */
    text-align: center;
    /* Centra el contenido horizontalmente */
    text-decoration: none;
    /* Elimina la decoración de enlace */
    color: #333;
    /* Color del texto */
}

.selection .select-3 {

    width: calc(100% - 40px);
    max-width: 670px;
    /* Ancho máximo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /* Sombra */
    text-align: center;
    /* Centra el contenido horizontalmente */
    text-decoration: none;
    /* Elimina la decoración de enlace */
    color: #333;
    /* Color del texto */
}

.selection .select-4 {
    width: calc(100% - 40px);
    /* Ancho ajustable */
    max-width: 470px;
    /* Ancho máximo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /* Sombra */
    text-align: center;
    /* Centra el contenido horizontalmente */
    text-decoration: none;
    /* Elimina la decoración de enlace */
    color: #000000;
    /* Color del texto */
}


.select img {
    width: 100px;
    /* Tamaño de la imagen */
    height: auto;
    /* Altura automática para mantener la proporción */
    border-radius: 0%;
    /* Hace que la imagen tenga forma circular */

}

.selct h5 {
    margin: 5px 0;
    /* Margen superior e inferior */
    text-align: center;
    font-weight: bold;
}

.select p {
    font-size: 14px;
    /* Tamaño del texto del párrafo */
}

.selection .select-1 {
    background-color: white;
    border: 0.8px solid #4597db;
    background-size: cover;


}

.selection .select-1:hover {
    background-color: #E0F1FF;
    /* Cambia el color de fondo al pasar el cursor */
    transform: translateY(-5px);
    transform: translateY(-5px);
}

.selection .select-2 {
    background-color: white;
    border: 0.8px solid #4597db;


}

.selection .select-2:hover {
    background-color: #E0F1FF;
    /* Cambia el color de fondo al pasar el cursor */
    transform: translateY(-5px);
}

.selection .select-3 {
    background-color: white;
    border: 0.8px solid #4597db;



}

.selection .select-3:hover {
    background-color: #E0F1FF;
    /* Cambia el color de fondo al pasar el cursor */
    transform: translateY(-5px);
}



.selection .select-4:hover {
    background-color: #E0F1FF;
    /* Cambia el color de fondo al pasar el cursor */
    transform: translateY(-5px);

}

@media screen and (max-width: 600px) {

    .selection {
        background-color: transparent;
        max-width: 500px;
    }

    .selection .select-1 {
        width: calc(100% - 40px);
        /* Ancho ajustable */
        max-width: 670px;
    }

    .selection .select-2 {
        width: calc(100% - 40px);
        /* Ancho ajustable */
        max-width: 670px;
    }

    .selection .select-3 {
        background-color: white;
        border: 0.8px solid #4597db;
        max-width: 500px;
    }
}


/*menu*/

.Hamburguesa {
    position: absolute;
    /* Asegura que el contenedor sea relativo */
    z-index: 1;
    /* Establece un z-index menor que el del menú */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: -840px;
    height: 80px;
    gap: -20px;
}

.log img {
    height: 60px;
    max-width: 500px;
    margin-left: 70px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    /* Añade posición absoluta para superponer el menú */
    top: 10px;
    /* Ajusta según sea necesario */
    right: 20px;
    /* Ajusta según sea necesario */
    z-index: 2;
    /* Asegura que el menú esté por encima del contenido */
    background-color: #0078AE;
    width: 85PX;
}

.linea {
    width: 2px;
    height: 80px;
    background-color: rgb(231, 229, 229);
    margin-right: 400px;
}


.menu-toggle,
.h7 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #0078AE;
    margin: 4px 0;
}

.links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin-right: 50px;
    font-size: 21px;
}

.links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
    color: #0078AE;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .Hamburguesa {
        margin-top: -822px;
        position: absolute;
        width: 100%;
    }


    .links {
        display: none;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding: 10px 20px;
        position: absolute;
        /* Añade posición absoluta para superponer el menú */
        top: 60px;
        /* Ajusta según sea necesario */
        right: 0;
        /* Ajusta según sea necesario */
        z-index: 2;
        /* Asegura que el menú esté por encima del contenido */
        margin-top: 40px;
        left: 200px;
        max-width: 300px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    }

    .links.active {
        display: flex;
    }
}



/*footer*/


.footer {
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    background-color: none;
    margin: auto;
    margin-top: 2200px;
    position: absolute;
    background-color: rgb(170, 170, 170);
    height: 120px;
    display: flex;


}

.footer img {
    max-width: 300px;
}


.footer .redes-sociales {
    display: flex;
    margin: 950px;
    gap: 25px;
}

.footer .redes-sociales img:hover {

    background-color: #ffffff;
}

.footer .redes-sociales img {
    width: 58px;
    background-color: #9b9a9a;
}

@media only screen and (max-width: 768px) {
    .footer {
        background-color: rgb(170, 170, 170);
        margin-top: 1500px;
        position: absolute;
        max-width: 100%;
    }

    .footer .redes-sociales {
        display: flex;
        margin: 10px;
    }

    .footer img {
        max-width: 200px;
    }

    .footer .redes-sociales img {
        width: 28px;
        background-color: #9b9a9a;

    }

}


.return {
    margin-top: 5950px;
    margin-right: 1000px;
    font-size: 25px;
    position: absolute;
    background-color: transparent;
    font-weight: bolder;

}

.return a {
    color: #16609c;
}


@media only screen and (max-width: 768px) {
    .return {
        background-color: transparent;
        margin-top: 14930px;
        font-size: 25px;
        margin-left: 785px;
        font-weight: bolder;
        position: absolute;
        width: 320px;

    }

    .return a {
        color: #16609c;
    }
}